[client]
socket=/home/appuser/var/lib/mysql/tmp/mysql.sock

[mysqld_safe]
pid-file=/home/appuser/var/lib/mysql/tmp/mysql.pid

[mysqld]
datadir=/home/appuser/var/lib/mysql/datadir
socket=/home/appuser/var/lib/mysql/tmp/mysql.sock
pid-file=/home/appuser/var/lib/mysql/tmp/mysql.pid
log-error=/home/appuser/var/lib/mysql/log/mysql.log
